.wrapper {
    margin: 70px auto;
    max-width: 590px;
    padding: 30px 40px;
    box-shadow: 0 20px 50px rgb(0 0 0 / 20%);

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        input {
            border: 1px solid #ccc;
            padding: 8px;
            margin-bottom: 12px;
            width: 100%;
            caret-color: var(--primary);
        }
        button {
            background-color: var(--primary);
            width: 100%;
            padding: 8px 0;
            color: var(--white);
        }
    }
}
