@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    --primary: #885305;
    --white: #fff;
    --max-width-container: 1200px;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: SVN-Gilroy, Verdana, Roboto, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

li {
    list-style-type: none;
}

a,
li {
    text-decoration: none;
}
input,
button {
    outline: none;
    border: none;
}

//Fonts Emmbeded
@font-face {
    font-family: 'SVN-Gilro-medium';
    src: url('/assets/fonts/svn-gilroy_medium.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'SVN-Gilro-bold';
    src: url('/assets/fonts/svn-gilroy_semibold.ttf');
    font-weight: 500;
}

// custom slick-slide
.slick-slide > div {
    margin: 0 8px;
}
.slick-list {
    margin: 0 -8px;
}

body .slick-prev::before,
body .slick-next::before {
    color: rgb(53, 53, 53);
    font-size: 2.9rem;
}
body .slick-prev,
body .slick-next {
    z-index: 10;
    width: 29px;
    height: 29px;
}
body .slick-prev {
    left: 0;
}
body .slick-next {
    right: 0;
}
