.wrapper {
    --top-header-height: 100px;
    --border-radius-search: 100px;
    --height-button-search: 40px;
    --search-top-spacer: 12px;
}

.top-sale {
    background-color: rgba(136, 83, 5, 0.8);
    text-align: center;
    color: #fff;
    font-size: 1rem;
    font-weight: 100;
    padding: 2px;
}

.top-site {
    background-color: var(--primary);
}
.top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--top-header-height);
}
.container {
    max-width: var(--max-width-container);
    margin: 0 auto;
    width: 100%;
}

.logo {
    background-color: #fff;
    border-radius: 50%;
    display: flex;
}
.search {
    flex: 1;
    display: flex;
    height: var(--height-button-search);
    margin: 70px;
    border-radius: 100px;
    overflow: hidden;
    background-color: #fff;
    min-width: 200px;

    input {
        width: 100%;
        padding: 0 12px;
        caret-color: #97c23d;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: #333;
    }
}

.search-btn {
    position: relative;
    padding: 0 16px;
    background-color: #fff;
    color: #888;

    &:hover {
        background-color: #ededed;
    }
    &:active {
        background-color: #e3e3e3;
    }
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: calc(var(--height-button-search) - var(--search-top-spacer));

        background-color: #ccc;
    }
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .cart {
        color: #fff;
        position: relative;
        margin-right: 28px;
        font-size: 2.5rem;

        .count {
            position: absolute;
            top: 4px;
            right: -12px;
            background-color: red;
            padding: 0 8px;
            border-radius: 50%;
            font-size: 1.4rem;
        }
    }
    .cart-icon {
    }

    a {
        margin: 0 8px;
        color: #fff;
        font-weight: 500;
    }

    .account {
        margin-right: 28px;
    }
}

.main-menu {
    display: flex;
    background-color: #885305;
}
.menu-item {
    padding: 0 12px;
}

.menu-item a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
