.wrapper {
    background-color: #92be3e;
    box-shadow: 0 1px 7px #7a883f;
    height: 85px;
    display: flex;
}
.container {
    display: flex;
    max-width: var(--max-width-container);
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .policy {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            border-right: 2px dashed #7a883f;
            padding-right: 15px;
        }

        .icon {
            font-size: 30px;
            color: var(--white);
            padding: 0 18px;
        }
        .description h5 {
            font-size: 15.5px;
            color: var(--primary);
        }
        .description p {
            font-size: 14.5px;
            color: var(--white);
        }
    }
}