.wrapper {
    margin-top: 60px;
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var(--max-width-container);
}
.title {
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;

    .icon-new {
        display: inline-block;
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin-bottom: 10px;
        vertical-align: middle;
    }
}
