.wrapper {
    display: flex;
    padding-top: 50px;
    max-width: var(--max-width-container);
    margin: auto;
    position: relative;

    img {
        width: 40%;
        object-fit: contain;
    }

    .about-home {
        margin-left: 5rem;
        width: 60%;

        .btn-about {
            background: #de8d1e;
            border-radius: 1000px;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0;

            align-items: center;
            border: 0;
            display: inline-flex;
            font-family: SVN-Gilroy Bold, Verdana, Roboto, Tahoma, sans-serif;
            font-size: 16px;
            height: 45px;
            justify-content: center;
            line-height: 1.21;
            padding: 0 30px;
            transition: all 0.3s;
        }
    }

    .title {
        color: #4c503d;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description {
        text-align: justify;
        margin-bottom: 16px;
    }
}
.card-about {
    padding-top: 40px;
    position: absolute;
    top: 325px;
    right: 106px;
    width: 60%;
}
.card-about-item {
    display: flex !important;
    align-items: center;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 15px 0 rgb(76 80 61 / 8%);
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    transition: all 0.3s;

    &:hover {
        box-shadow: 0 10px 15px 0 rgb(76 80 61 / 15%);
    }
}
