.wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    position: relative;
    overflow-x: hidden;

    margin-top: 168px;

    .icon-left, .icon-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: var(--white);
        font-size: 40px;
    }
    
    .icon-left {
        left: 20px;

    }

    .icon-right {
        right: 20px;
    }
}
.slider {
    background: url('') top center / cover no-repeat;
    padding-top: 40%;
    width: 100%;
    flex-shrink: 0;
    transition: 750ms all ease-in-out;
}

.indicator {
    z-index: 100;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    .dot {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.5;
    }

    .dot.active {
        opacity: 1;
    }
}
