.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slider {
    background: url('') top center / cover no-repeat;
    padding-top: 40%;
    width: 100%;
}
